html, body {
    margin: 0 0 500px;
    padding: 0;
    font-family: 'Roboto';
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 200px;
    font-weight: 100;
    /*text-transform: uppercase;*/
    /*font-style: italic;*/
}

h2 {
    font-size: 50px;
    font-weight: 100;
    /*text-transform: uppercase;*/
    /*font-style: italic;*/
}

h3 {
    margin-top: 30px;
    font-size: 40px;
    font-weight: 100;
    /*text-transform: uppercase;*/
    /*font-style: italic;*/
}

h4 {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 300;
    /*text-transform: uppercase;*/
    /*font-style: italic;*/
}

.header {
    background-color: #03A9F4;
    height: 400px;
    color: #fff;
}

.grid-example {
    background-color: #ddd;
}

.frow.grid-example-div {
    background-color: #03A9F4;
    min-height: 70px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

.grid-example-div p {
    text-align: center;
    color: #fff;
    margin: 0;
}

.grid-example-div p:nth-child(2) {
    margin-top: 10px;
}

.grid-example>.frow:last-of-type .grid-example-div {
    margin: 0;
}
