html, body {
    margin: 0 0 25px;
    padding: 0;
    font-family: 'Fira Sans';
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    font-weight: 300;
    /*text-transform: uppercase;*/
    /*font-style: italic;*/
}

h1 svg {
    width: 150px;
    fill: #fff;
}

h2 {
    font-size: 35px;
    font-weight: 300;
    /*text-transform: uppercase;*/
    /*font-style: italic;*/
}

h3 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 700;
    /*text-transform: uppercase;*/
    /*font-style: italic;*/
}

h4 {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 300;
    /*text-transform: uppercase;*/
    /*font-style: italic;*/
}

h5 {
    margin-top: 20px;
    margin-bottom: 3px;
    font-size: 25px;
    font-weight: 300;
    /*text-transform: uppercase;*/
    font-style: italic;
}

@media (min-width: 992px) {
    .header.home h1 {
        font-size: 200px;
        font-weight: 300;
        /*text-transform: uppercase;*/
        /*font-style: italic;*/
    }

    .header.home h1 svg {
        width: 350px;
        margin-bottom: 20px;
    }

    .header.home h2 {
        font-size: 50px;
        font-weight: 300;
        text-align: center;
        /*text-transform: uppercase;*/
        /*font-style: italic;*/
    }
}

@media (max-width: 991px) {
    html, body {
        font-size: 15px;
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 30px;
    }
    h4 {
        font-size: 25px;
    }
    h5 {
        font-size: 20px;
    }
}

p {
    margin: 15px 0;
}

a.header {
    display: block;
    background-color: #03A9F4;
    height: 140px;
    color: #fff;
}

a.header.home {
    height: 400px;
}

a.header:hover, a.header:focus, a.header:active, a.header:visited {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 991px) {
    a.header, a.header.home {
        height: 100px;
    }
}

.tab-bar {
    background-color: #eee;

}

.tab-bar ul {
    margin: 0;
    list-style-type: none;
    min-height: 50px;
}

.tab-bar ul li {
    margin: 0 20px;
}

.mobile-tab {
    padding: 10px 0;
}

.frow-setup p {
    margin: 10px 0 5px;
}

.fake-code {
    padding: 10px 10px;
    display: block;
    border-radius: 3px;
    background-color: #4F4F51;
    color: #E6E6E6;
    font-family: 'Inconsolata', sans-serif;
    font-size: 16px;
}

.grid-frow-code {
    padding: 10px 10px;
    display: block;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #4F4F51;
    color: #E6E6E6;
    font-family: Inconsolata, sans-serif;
    font-size: 16px;
}

.fake-comment {
    color: #AFAFAF;
}

.fake-comment a {
    color: #AFAFAF;
    text-decoration: underline;
}

.grid-example {
    background-color: #eee;
    margin-bottom: 60px;
    border-radius: 3px;
    padding: 15px 0;
}

.grid-frow-code + .grid-example {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.grid-example-group .grid-example {
    margin-bottom: 30px;
}

.grid-example-group .grid-example:last-of-type {
    margin-bottom: 60px;
}

.frow.grid-example-div {
    background-color: #03A9F4;
    min-height: 70px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-radius: 3px;
    font-size: 15px;
}

.frow.grid-example-div.dotted-div {
    background-color: transparent;
    border: 2px dashed #333;
    margin: 0 2px;
}

.frow.grid-example-div.dotted-div p {
    color: #333;
}

.grid-example-stretch {
    background-color: #03A9F4;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    font-size: 16px;
}

.grid-example-div p {
    text-align: center;
    color: #fff;
    margin: 0;
}

.grid-example-div p:nth-child(2) {
    margin-top: 10px;
}

@media (min-width: 992px) {
    .grid-example>.frow:last-of-type .grid-example-div {
        margin: 0;
    }
}
@media (max-width: 991px) {
    .grid-example:not(.always-margin)>.frow:last-of-type>div:last-child .grid-example-div {
        margin: 0;
    }
}

.freeform-example {
    height: 55px;
    width: 55px;
    margin: 5px;
    background-color: #03A9F4;
}

.freeform-example:nth-child(9n+0) {
    background-color: #2196F3; // Blue
}

.freeform-example:nth-child(9n+1) {
    background-color: #009688; // Teal
}

.freeform-example:nth-child(9n+2) {
    background-color: #FF5722; // Deep Orange
}

.freeform-example:nth-child(9n+3) {
    background-color: #4CAF50; // Green
}

.freeform-example:nth-child(9n+4) {
    background-color: #673AB7; // Deep Purple
}

.freeform-example:nth-child(9n+5) {
    background-color: #00BCD4; // Cyan
}

.freeform-example:nth-child(9n+6) {
    background-color: #FFC107; // Amber
}

.freeform-example:nth-child(9n+7) {
    background-color: #3F51B5; // Indigo
}

.freeform-example:nth-child(9n+8) {
    background-color: #FF9800; // Orange
}

.next {
    font-size: 30px;
    margin-top: 50px;
    font-weight: 300;
}

a.next-page, a.next-page:hover {
    font-size: 30px;
    text-align: center;
    background-color: #03A9F4;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 300;
}
