/*Don't forget to vendor prefix!*/

html, body {
    margin: 0 0 25px;
    padding: 0;
    font-family: 'Roboto';
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    font-weight: 300;
    /*text-transform: uppercase;*/
    /*font-style: italic;*/
}

h1 svg {
    width: 150px;
    fill: #fff;
}

h2 {
    font-size: 35px;
    font-weight: 100;
    /*text-transform: uppercase;*/
    /*font-style: italic;*/
}

h3 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 700;
    /*text-transform: uppercase;*/
    /*font-style: italic;*/
}

h4 {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 300;
    /*text-transform: uppercase;*/
    /*font-style: italic;*/
}

h5 {
    margin-top: 20px;
    margin-bottom: 3px;
    font-size: 25px;
    font-weight: 300;
    /*text-transform: uppercase;*/
    font-style: italic;
}

@media (min-width: 992px) {
    .header.home h1 {
        font-size: 200px;
        font-weight: 300;
        /*text-transform: uppercase;*/
        /*font-style: italic;*/
    }

    .header.home h1 svg {
        width: 350px;
        margin-bottom: 20px;
    }

    .header.home h2 {
        font-size: 50px;
        text-align: center;
        /*text-transform: uppercase;*/
        /*font-style: italic;*/
    }
}

@media (max-width: 991px) {
    html, body {
        font-size: 15px;
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 30px;
    }
    h4 {
        font-size: 25px;
    }
    h5 {
        font-size: 20px;
    }
}

p {
    margin: 15px 0;
}

#mobile-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fbfbfb;
    box-shadow: -1px 0px 4px 0px #000000;
    z-index: 10;
}

#mobile-sidebar.frow-hide-remove {
    transition: transform 0.3s;
    transform: translateX(-100%);
}

#mobile-sidebar.frow-hide-remove.frow-hide-remove-active {
    transform: translateX(0);
}

#mobile-sidebar.frow-hide-add {
    transition: transform 0.3s;
    transform: translateX(0);
}

#mobile-sidebar.frow-hide-add.frow-hide-add-active {
    transform: translateX(-100%);
}

.mobile-sidebar-header {
    display: block;
    background-color: #03A9F4;
    padding: 45px;
}

.mobile-sidebar-header svg {
    fill: #fff;
    width: 150px;
    margin: 0 auto;
}

.mobile-sidebar-content {
    padding: 25px;
}

.mobile-sidebar-content li {
    font-size: 18px;
    width: 100%;
}

.mobile-sidebar-content a, .mobile-sidebar-content a:hover, .mobile-sidebar-content a:focus, .mobile-sidebar-content a:active, .mobile-sidebar-content a:visited {
    display: block;
    padding: 20px 0;
    text-decoration: none;
}

#click-cover {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: 9;
}

#click-cover.frow-hide-remove {
    transition: opacity 0.3s;
    opacity: 0;
}

#click-cover.frow-hide-remove.frow-hide-remove-active {
    opacity: 0.7;
}

#click-cover.frow-hide-add {
    transition: opacity 0.3s;
    opacity: 0.7;
}

#click-cover.frow-hide-add.frow-hide-add-active {
    opacity: 0;
}

#mobile-sidebar-button {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 25px;
    padding: 10px;
}

#mobile-sidebar-button div {
    width: 22px;
    height: 4px;
    background-color: #fff;
    margin-bottom: 4px;
}

#mobile-sidebar-button div:nth-of-type(3){
    margin-bottom: 0;
}

a.header {
    display: block;
    background-color: #03A9F4;
    height: 140px;
    color: #fff;
}

a.header.home {
    height: 400px;
}

a.header:hover, a.header:focus, a.header:active, a.header:visited {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 991px) {
    a.header, a.header.home {
        height: 100px;
    }
}

.tab-bar {
    background-color: #eee;
}

.tab-bar ul {
    margin: 0;
    list-style-type: none;
    min-height: 50px;
}

.tab-bar ul li {
    margin: 0 20px;
}

.tab-bar a:hover, .tab-bar a:focus, .tab-bar a:active, .tab-bar a:visited {
    text-decoration: none;
}

.mobile-tab {
    padding: 10px 0;
}

.tagline {
    margin-bottom: 40px;
    font-size: 25px;
}

.frow-setup p {
    margin: 10px 0 5px;
}

.fake-code {
    padding: 10px 10px;
    display: block;
    border-radius: 3px;
    background-color: #4F4F51;
    color: #E6E6E6;
    font-family: 'Inconsolata', sans-serif;
    font-size: 16px;
}

.grid-frow-code {
    padding: 10px 10px;
    display: block;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #4F4F51;
    color: #E6E6E6;
    font-family: Inconsolata, sans-serif;
    font-size: 16px;
}

.fake-comment {
    color: #AFAFAF;
}

.fake-comment a {
    color: #AFAFAF;
    text-decoration: underline;
}

.grid-example {
    background-color: #eee;
    margin-bottom: 60px;
    border-radius: 3px;
    padding: 15px 0;
}

.grid-frow-code + .grid-example {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.grid-example-group .grid-example {
    margin-bottom: 30px;
}

.grid-example-group .grid-example:last-of-type {
    margin-bottom: 60px;
}

.frow.grid-example-div {
    background-color: #03A9F4;
    min-height: 70px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-radius: 3px;
    font-size: 15px;
}

.frow.grid-example-div.dotted-div {
    background-color: transparent;
    border: 2px dashed #333;
    margin: 0 2px;
}

.frow.grid-example-div.dotted-div p {
    color: #333;
}

.grid-example-stretch {
    background-color: #03A9F4;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    font-size: 16px;
}

.grid-example-div p {
    text-align: center;
    color: #fff;
    margin: 0;
}

.grid-example-div p:nth-child(2) {
    margin-top: 10px;
}

@media (min-width: 992px) {
    .grid-example>.frow:last-of-type .grid-example-div {
        margin: 0;
    }
}
@media (max-width: 991px) {
    .grid-example:not(.always-margin)>.frow:last-of-type>div:last-child .grid-example-div {
        margin: 0;
    }
}

.freeform-example {
    height: 55px;
    width: 55px;
    margin: 5px;
    background-color: #03A9F4;
}

.freeform-example:nth-child(9n+0) {
    background-color: #2196F3; /* Blue */
}

.freeform-example:nth-child(9n+1) {
    background-color: #009688; /* Teal */
}

.freeform-example:nth-child(9n+2) {
    background-color: #FF5722; /* Deep Orange */
}

.freeform-example:nth-child(9n+3) {
    background-color: #4CAF50; /* Green */
}

.freeform-example:nth-child(9n+4) {
    background-color: #673AB7; /* Deep Purple */
}

.freeform-example:nth-child(9n+5) {
    background-color: #00BCD4; /* Cyan */
}

.freeform-example:nth-child(9n+6) {
    background-color: #FFC107; /* Amber */
}

.freeform-example:nth-child(9n+7) {
    background-color: #3F51B5; /* Indigo */
}

.freeform-example:nth-child(9n+8) {
    background-color: #FF9800; /* Orange */
}

.next {
    font-size: 30px;
    margin-top: 50px;
    font-weight: 300;
}

a.next-page, a.next-page:hover {
    font-size: 30px;
    text-align: center;
    background-color: #03A9F4;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 300;
}

.by-line {
    margin-top: 40px;
    text-align: center;
}

.card-shadow-demo {
    margin-top: 30px;
}

.card-shadow-demo p {
    color: #03A9F4;
}

.card-shadow-demo>.frow>.col-md-1-2>.frow {
    border-radius: 3px;
    height: 400px;
}

.card-shadow-demo>.frow>.col-md-1-2:first-child>.frow {
    background-color: #f3f3f3;
}

.card-shadow-demo>.frow>.col-md-1-2:last-child>.frow {
    background-color: #888;
}

@media (max-width: 767px) {
    .card-shadow-demo>.frow>.col-md-1-2:last-child>.frow {
        margin-top: 20px;
    }
}

.card-shadow-demo-card {
    height: 70%;
    width: 80%;
    background-color: #fff;
}










/*Radio buttons*/
.control {
    font-size: 18px;
    position: relative;
    display: block;
    margin-bottom: 15px;
    padding-left: 30px;
    cursor: pointer;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #e6e6e6;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
    background: #03A9F4;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #03A9F4;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
    pointer-events: none;
    opacity: .6;
    background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
    position: absolute;
    display: none;
    content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
    display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
    top: 4px;
    left: 8px;
    width: 3px;
    height: 8px;
    transform: rotate(45deg);
    border: solid #fff;
    border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}








/*TESTING CLASSES*/

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes disappear {
    from {opacity: 1;}
    to {opacity: 0;}
}

/*#test.frow-hide-remove {
    transition: opacity 2s, color 2s;
    opacity: 0;
}

#test.frow-hide-remove.frow-hide-remove-active {
    opacity: 1;
}

#test.frow-hide-add {
    transition: opacity 2s, color 2s;
    opacity: 1;
}

#test.frow-hide-add-active {
    opacity: 0;
}*/

#test.frow-hide-remove {
    animation: appear 2s;
}

#test.frow-hide-add {
    animation: disappear 2s;
}

.col-md-1-2.frow-hide-remove {
    animation: appear 2s;
}

.col-md-1-2.frow-hide-add {
    animation: disappear 2s;
}

.red {
    background-color: #f00;
}

.red .tab-bar {
    background-color: #f00;
}

#download-tab.testing-add {
    animation: appear 10s;
}
