/* Don't forget to vendor prefix */

/**:not(.letsGo-animate) {
    transition: width 0.4s, height 0.4s, font-size 0.4s, font-weight 0.4s;
}*/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    font-weight: 300;
    height: 52px;
    /*text-transform: uppercase;*/
    /*font-style: italic;*/
}

h2 {
    font-size: 35px;
    font-weight: 100;
    color: #fff;
    /*text-transform: uppercase;*/
    /*font-style: italic;*/
}

h3 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 700;
    /*text-transform: uppercase;*/
    /*font-style: italic;*/
}

h4 {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 300;
    /*text-transform: uppercase;*/
    /*font-style: italic;*/
}

h5 {
    margin-top: 20px;
    margin-bottom: 3px;
    font-size: 25px;
    font-weight: 300;
    /*text-transform: uppercase;*/
    font-style: italic;
}

p {
    margin: 10px 0 5px;
}

.fake-code {
    padding: 10px 10px;
    display: block;
    border-radius: 3px;
    background-color: #4F4F51;
    color: #E6E6E6;
    font-family: 'Inconsolata', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}

.fake-comment {
    color: #AFAFAF;
}

.fake-comment a {
    color: #AFAFAF;
    text-decoration: underline;
}

.grid-example {
    background-color: #eee;
    margin-bottom: 60px;
    border-radius: 3px;
    padding: 15px 0;
    overflow: hidden;
}

.grid-frow-code + .grid-example {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#header {
    height: 50%;
    width: 100%;
    background-color: #4EF1C5;
}

#header svg {
    width: 100%;
    max-width: 400px;
    fill: #fff;
    margin: 15px 0;
}

.warning {
    font-size: 15px;
    color: #EF5252;
    margin: 15px 0;
}

.main-section.letsGo-hide-remove {
    transition: opacity 0.3s ease-in;
    opacity: 0;
}

.main-section.letsGo-hide-remove-active {
    opacity: 1;
}

.main-section.letsGo-hide-add {
    transition: opacity 0.3s ease-out;
    opacity: 1;
}

.main-section.letsGo-hide-add-active {
    opacity: 0;
}

.greyed {
    color: #bbb;
}

.example {
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
}

.example-explanation {
    margin-top: 50px;
    font-size: 20px;
}

.example-keyword {
    font-weight: 700;
}

.example-type {
    font-style: italic;
}

.example-definition {
    margin-left: 50px;
}

.example-examples {
    margin-left: 50px;
}

.by-line {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 50px;
}
