//
// Scaffolding
// --------------------------------------------------


// Reset the box-sizing
*, :after, :before {
  box-sizing: border-box;
}

// Remove tap highlight color
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Set default text color
body {
  color: $near-black;
}

// Links
a {
  cursor: pointer;
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $link-hover-color;
    text-decoration: underline;
  }

  p & {
    text-decoration: underline;
  }
}

// SVGs
svg {
  display: block;
}

// Unordered lists
ul {
  margin: 0;
  padding: 0;
  
  p & {
    list-style-type: disc;
  }
}

// List items
li {
  list-style-type: none;
}

@mixin frow-button-disabled {
  cursor: default !important;
  border: 2px solid $gray-lighter;
  background: repeating-linear-gradient(-45deg, darken($gray-lighter, 5%), darken($gray-lighter, 5%) 3px, #fff 3px, #fff 6px);
  background-color: darken($gray-lighter, 15%);
  color: $gray-light;
  transform: scale(1);
}

@mixin frow-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  background-color: $gray-darker;
  border: 2px solid $gray-darker;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  outline: none;
  padding: 7px;
  transition: transform 0.1s, background $frow-animate-speed, border-color $frow-animate-speed, color $frow-animate-speed, box-shadow $frow-animate-speed;
  
  &:hover, &:focus, &:active {
    background-color: darken($gray-darker, 15%);
    border-color: darken($gray-darker, 15%);
    outline: none;
    text-decoration: none;
  }

  &:active {
    transform: scale(0.96);
  }

  &:disabled {
    @include frow-button-disabled;
    
    &:hover, &:focus, &:active {
      @include frow-button-disabled;
    }
  }
}

// Buttons
@if $frow-enable-buttons == true {
  
  // Buttons
  button,
  html [type="button"], // HACK: html required because of Android bug, see Normalize.css
  [type="reset"],
  [type="submit"] {
    @include frow-button;
  }
}

// Forms
@if $frow-enable-forms == true {
  
  // Fieldsets
  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }
  
  // Legends
  legend {
    color: $gray-light;
    font-size: 14px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    display: block;
  }
  
  // Labels
  label {
    color: $gray-light;
    font-size: 14px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column;
    @include flexbox-rules;
  }
  
  // Inputs
  input {
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid $gray-light;
    color: $near-black;
    display: block;
    font-size: 15px;
    padding: 8px 5px 4px;
    width: 100%;
    transition: border-color $frow-animate-speed, color $frow-animate-speed;
    
    &:placeholder-shown {
      color: $gray-light;
    }
    
    &::-webkit-input-placeholder {
      color: $gray-light;
    }
    
    &::-moz-placeholder {
      color: $gray-light;
    }
    
    &:-ms-input-placeholder {
      color: $gray-light;
    }
  
    &:hover, &:focus {
      border-color: $gray-darker;
      outline: none;
    }
  
    &:disabled {
      border-bottom: 1px dotted $gray-light;
      color: $gray-light;
      cursor: default !important;
      margin-bottom: 1px;
    }
  
    // Number Input
    &[type="number"] {
      -moz-appearance:textfield;
  
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0
      }
    }
    
    // Color Picker
    &[type="color"] {
      height: 31px;
      cursor: pointer;
      
      &::-webkit-color-swatch-wrapper {
        padding: 0;
      }
      
      &::-webkit-color-swatch {
        border-color: $gray-light;
        border-radius: 3px;
      }
    }
    
    // Checkboxes
    &[type="checkbox"] {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 2px;
      margin: 0 5px 0 0;
      cursor: pointer;
      border: 2px solid $gray-darker;
      transition: background-color $frow-animate-speed, border-color $frow-animate-speed, box-shadow $frow-animate-speed;
      
      &:hover, &:focus {
        border-color: darken($gray-darker, 15%);
      }
      
      &:disabled {
        cursor: default !important;
        box-shadow: none;
        border-color: darken($gray-lighter, 5%);
        background-color: transparent;
      }
      
      &:checked {
        background-color: $gray-darker;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='8 8 36 36' version='1.1' xml:space='preserve'><path d='M14.1 27.2l7.1 7.2 16.7-16.8' fill='none' stroke='#{convert-to-rgb(#fff)}' stroke-width='5'/></svg>");
      
        &:hover, &:focus {
          background-color: darken($gray-darker, 15%);
        }
        
        &:disabled {
          border-color: darken($gray-lighter, 5%);
          background-color: darken($gray-lighter, 5%);
        }
      }
    }
    
    // Radio Buttons
    &[type="radio"] {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      margin: 0 5px 0 0;
      cursor: pointer;
      border-radius: 50%;
      border: 2px solid $gray-darker;
      transition: background $frow-animate-speed, border-color $frow-animate-speed, box-shadow $frow-animate-speed;
      
      &:hover, &:focus {
        border-color: darken($gray-darker, 15%);
      }
      
      &:disabled {
        cursor: default !important;
        box-shadow: none;
        border-color: darken($gray-lighter, 5%);
        background-color: transparent;
      }
    
      &:checked {
        background-color: $gray-darker;
        box-shadow: inset 0 0 0 2px #fff;
        
        &:hover, &:focus {
          background-color: darken($gray-darker, 15%);
        }
        
        &:disabled {
          box-shadow: inset 0 0 0 2px #fff;
          border-color: darken($gray-lighter, 5%);
          background: none;
          background-color: darken($gray-lighter, 5%);
        }
      }
    }
    
    // Range
    &[type="range"] {
      border: none;
      padding: 13px 0px;
      -webkit-appearance: none;
      width: 100%;
      
      &:disabled {
        margin-bottom: 0;
      }
    
      // Reset existing Webkit Range styles
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
      }
      
      // Reset existing MS Range styles
      &::-ms-track {
        width: 100%;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      
      // Remove dotted border in Firefox
      &::-moz-focus-outer {
        border: 0;
      }
      
      // Range Thumb
      @mixin thumb-styles {
        cursor: pointer;
        background: $gray-light;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        border: 0;
        transition: background $frow-animate-speed;
      }
      
      @mixin thumb-styles-focus {
        background: $gray-darker;
        outline: none;
      }
      
      @mixin thumb-styles-disabled {
        cursor: default !important;
        background: repeating-linear-gradient(-45deg, darken($gray-lighter, 5%), darken($gray-lighter, 5%) 2px, #fff 2px, #fff 4px);
      }
      
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        margin-top: -8px;
        @include thumb-styles;
      }
      
      &::-moz-range-thumb {
        @include thumb-styles;
      }
      
      &::-ms-thumb {
        @include thumb-styles;
        margin-top: -1px;
      }
      
      &:active, &:hover, &:focus {
        &::-webkit-slider-thumb {
          @include thumb-styles-focus;
        }
      
        &::-moz-range-thumb {
          @include thumb-styles-focus;
        }
        
        &::-ms-thumb {
          @include thumb-styles-focus;
        }
      }
      
      &:disabled {
        &::-webkit-slider-thumb {
          @include thumb-styles-disabled;
        }
      
        &::-moz-range-thumb {
          @include thumb-styles-disabled;
        }
        
        &::-ms-thumb {
          @include thumb-styles-disabled;
        }
      }
      
      // Range Track
      @mixin track-styles-basics {
        width: 100%;
        height: 3px;
        cursor: pointer;
        border-radius: 0px;
      }
      
      @mixin track-styles-background {
        background: $gray-lighter;
      }
      
      @mixin track-styles-focus {
        background: $gray-lighter;
        transition: background $frow-animate-speed;
      }
      
      @mixin track-styles-disabled {
        cursor: default !important;
      }
      
      @mixin track-styles {
        @include track-styles-basics;
        @include track-styles-background;
      }
      
      &::-webkit-slider-runnable-track {
        @include track-styles;
      }
      
      &:active::-webkit-slider-runnable-track {
        @include track-styles-focus;
      }
      
      &:disabled::-webkit-slider-runnable-track {
        @include track-styles-disabled;
      }
      
      &::-moz-range-track {
        @include track-styles;
      }
      
      &:active::-moz-range-track {
        @include track-styles-focus;
      }
      
      &:disabled::-moz-range-track {
        @include track-styles-disabled;
      }
      
      &::-ms-track {
        @include track-styles-basics;
        background: transparent;
        border-color: transparent;
        border-width: 16px 0;
        color: transparent;
      }
      
      &:disabled::-ms-track {
        @include track-styles-disabled;
      }
      
      &::-ms-fill-lower {
        background: $gray-lighter;
        border-radius: 2.6px;
      }
      
      &:active::-ms-fill-lower {
        @include track-styles-background;
      }
      
      &::-ms-fill-upper {
        border-radius: 2.6px;
        @include track-styles-background;
      }
      
      &:active::-ms-fill-upper {
        @include track-styles-focus;
      }
    }
  }
  
  // Webkit upload button
  input {
    &::-webkit-file-upload-button {
      @include frow-button;
    }
    
    &:disabled::-webkit-file-upload-button {
      @include frow-button-disabled;
    }
  }
  
  // MS upload button
  input {
    &::-ms-browse {
      @include frow-button;
    }
    
    &:disabled::-ms-browse {
      @include frow-button-disabled;
    }
  }
  
  // Selects
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' version='1.1' xml:space='preserve' stroke-linejoin='round'><g transform='matrix(-0.613836,-7.51732e-17,7.51732e-17,-0.613836,19.9111,16.8669)'><path d='M12.9 2.9L22.7 12.9 3.1 12.9 12.9 2.9Z' fill='#{convert-to-rgb($gray-dark)}'/></g></svg>");
    background-position: right center;
    background-repeat: no-repeat;
    display: block;
    border: none;
    border-bottom: 2px solid $gray-light;
    border-radius: 0;
    color: $near-black;
    font-size: 15px;
    height: 27px;
    margin-top: 4px;
    padding: 3px 24px 3px 5px;
    width: 100%;
    cursor: pointer;
    transition: border-color $frow-animate-speed, color $frow-animate-speed, background $frow-animate-speed;
  
    &:hover, &:focus {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' version='1.1' xml:space='preserve' stroke-linejoin='round'><g transform='matrix(-0.613836,-7.51732e-17,7.51732e-17,-0.613836,19.9111,16.8669)'><path d='M12.9 2.9L22.7 12.9 3.1 12.9 12.9 2.9Z' fill='#{convert-to-rgb(darken($gray-dark, 15%))}'/></g></svg>");
      outline: none;
      border-color: darken($gray-light, 15%);
    }
  
    &:disabled {
      padding-bottom: 4px;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' version='1.1' xml:space='preserve' stroke-linejoin='round'><g transform='matrix(-0.613836,-7.51732e-17,7.51732e-17,-0.613836,19.9111,16.8669)'><path d='M12.9 2.9L22.7 12.9 3.1 12.9 12.9 2.9Z' fill='#{convert-to-rgb($gray-light)}'/></g></svg>");
      border-bottom: 1px dotted $gray-light;
      cursor: default !important;
      color: $gray-light;
    }
  }
  
  // Textareas
  textarea {
    background: none;
    border: none;
    border-bottom: 2px solid $gray-light;
    border-radius: 0;
    color: $near-black;
    display: block;
    font-size: 15px;
    min-height: 50px;
    padding: 14px 10px 10px;
    resize: vertical;
    width: 100%;
    transition: border-color $frow-animate-speed, color $frow-animate-speed;
  
    &:hover, &:focus {
      border-color: darken($gray-light, 15%);
      outline: none;
    }
  
    &:disabled {
      border-bottom: 1px dotted $gray-light;
      cursor: default !important;
      margin-bottom: 1px;
    }
  }
}