//
// Utility classes
// --------------------------------------------------

// Cursor pointer classes
// -------------------------
.clickable:not([disabled]), *[onclick]:not([disabled]) {
  cursor: pointer !important;
}

.not-clickable, .not-clickable[onclick] {
  cursor: default !important;
}

// Height and width rules
// -------------------------
.height-100 {
  height: 100%;
}

.width-100 {
  width: 100%;
}

// Hidden rule for letsGo (letsgojs.com)
// -------------------------
.letsGo-hide {
  display: none !important;
}

// Card shadows
// -------------------------
.card-shadow {
  box-shadow: $card-shadow;
}

.dark-card-shadow {
  box-shadow: $dark-card-shadow;
}

// Text transforms
// -------------------------
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

// Clearfix
// -------------------------
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
