//
// Utility classes
// --------------------------------------------------

// Cursor pointer classes
// -------------------------
.clickable:not([disabled]), *[onclick]:not([disabled]), *[ng-click]:not([disabled]) {
    cursor: pointer !important;
}

.not-clickable, .not-clickable[onclick], .not-clickable[ng-click], .not-clickable[ng-click] {
    cursor: default !important;
}

// Height and width rules
// -------------------------
.height-100 {
    height: 100%;
}

.width-100 {
    width: 100%;
}

// Hidden rule
// -------------------------
.letsGo-hide {
    display: none !important;
}

// Card shadows
// -------------------------
.card-shadow {
    box-shadow: $card-shadow;
}

.dark-card-shadow {
    box-shadow: $dark-card-shadow;
}

// Clearfix
// -------------------------
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// Hide rule from letsGo
// -------------------------
.letsGo-hide {
    display: none !important;
}
