#about.main-section
  h3 What is letsGo?
  p letsGo is a JavaScript library to make it easy to show, hide, and modify elements on a webpage, with support for creating CSS animations, similar to Angular's ngAnimate.
  p letsGo is available now and is functional, however the code will still be gaining some features, so the parameters for the function are subject to change. Once the parameters and functionality is finalized, the code will hit 1.0.0.
  h2.section-why Why We Created letsGo
  p.section-why-paragraph We have run into a handful of situations where we just simply wanted to add some nice CSS transitions. Unfortunately, regular HTML seems to be deprived of this, so we aimed to remedy this problem. We created letsGo because we wanted to create a lightweight framework that features powerful HTML extensions without the weight of a full framework such as Angularjs or Vuejs.
