#commands.main-section(hidden="")
  h2 Commands
  .example #[span.greyed &lt;div onclick="]letsGo.#[b command]('#[b target]', '#[b attribute]');#[span.greyed "&gt;Contents&lt;/div&gt;]
  .example-explanation
    p
      span.example-keyword command #[span.example-type method]
    p.example-definition The command to be done on the target. Must be one of five options.
    p.example-examples Options: 'show', 'hide', 'add', 'remove', 'toggle'
  .example-explanation
    p
      span.example-keyword target #[span.example-type string]
    p.example-definition The element(s) to be operated upon. Can either be an id, class, or object tag.
    p.example-examples Examples: '#sidebar', '.frow', 'div'
  .example-explanation
    p
      span.example-keyword attribute #[span.example-type string]
    p.example-definition If the command in use is either 'add' or 'remove', then an attribute to be added or removed is required. If the command is 'toggle' then it will just alternate between show/hide unless an attribute is declared. Can either be a class, id, or attribute.
    p.example-examples Examples: '.red-background', '#title', 'disabled', 'checked=checked'
  // TODO: Explain new queue system
  .example-explanation This is outdated, needs new explanation
    p
      span.example-keyword queue #[span.example-type boolean]
    p.example-definition If set to true, this command is added to a queue. It will only run after every other command in the queue ahead of it finishes. Defaults to false.
    p.example-examples Examples: true, false (default)
  h3.example-explanation Examples:
  pre.fake-code.mb-0
    include:hl:pug(pretty=true) ../examples/commands
