/* Don't forget to vendor prefix! */

*:not(.letsGo-animate) {
    -webkit-transition: width 0.4s, height 0.4s, font-size 0.4s, font-weight 0.4s;
    transition: width 0.4s, height 0.4s, font-size 0.4s, font-weight 0.4s;
}

body {
    margin-bottom: 25px;
    font-family: 'Roboto';
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    font-weight: 300;
    height: 52px;
    /*text-transform: uppercase;*/
    /*font-style: italic;*/
}

h1 svg {
    width: 120px;
    fill: #fff;
}

h2 {
    font-size: 35px;
    font-weight: 100;
    color: #fff;
    /*text-transform: uppercase;*/
    /*font-style: italic;*/
}

h3 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 700;
    /*text-transform: uppercase;*/
    /*font-style: italic;*/
}

h4 {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 300;
    /*text-transform: uppercase;*/
    /*font-style: italic;*/
}

h5 {
    margin-top: 20px;
    margin-bottom: 3px;
    font-size: 25px;
    font-weight: 300;
    /*text-transform: uppercase;*/
    font-style: italic;
}

/* MD, LG */
@media (min-width: 992px) {
    .header.home h1 {
        font-size: 200px;
        font-weight: 300;
        height: 150px;
        /*text-transform: uppercase;*/
        /*font-style: italic;*/
    }

    .header.home h1 svg {
        width: 350px;
        margin-bottom: 20px;
    }

    .header.home h2 {
        font-size: 50px;
        text-align: center;
        /*text-transform: uppercase;*/
        /*font-style: italic;*/
    }
}

/* XS, SM */
@media (max-width: 991px) {
    html, body {
        font-size: 15px;
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 30px;
    }
    h4 {
        font-size: 25px;
    }
    h5 {
        font-size: 20px;
    }
}

p {
    margin: 15px 0;
    font-size: 18px;
}

p a {
    font-size: 18px;
}

/* XS, SM */
@media (max-width: 991px) {
    p, p a {
        font-size: 15px;
    }
}

.bottom-margin {
    margin-bottom: 60px !important;
}

#mobile-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fbfbfb;
    box-shadow: -1px 0px 4px 0px #000000;
    z-index: 10;
}

#mobile-sidebar.letsGo-hide-remove {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
}

#mobile-sidebar.letsGo-hide-remove.letsGo-hide-remove-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
}

#mobile-sidebar.letsGo-hide-add {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translateX(0);
            transform: translateX(0);
}

#mobile-sidebar.letsGo-hide-add.letsGo-hide-add-active {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
}

.mobile-sidebar-header {
    display: block;
    background-color: #2A6A9A;
    padding: 45px;
}

.mobile-sidebar-header svg {
    fill: #fff;
    width: 150px;
    margin: 0 auto;
}

.mobile-sidebar-content {
    padding: 25px;
}

.mobile-sidebar-content li {
    font-size: 18px;
    width: 100%;
}

.mobile-sidebar-content a, .mobile-sidebar-content a:hover, .mobile-sidebar-content a:focus, .mobile-sidebar-content a:active, .mobile-sidebar-content a:visited {
    display: block;
    padding: 20px 0;
    text-decoration: none;
}

#click-cover {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: 9;
}

#click-cover.letsGo-hide-remove {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 0;
}

#click-cover.letsGo-hide-remove.letsGo-hide-remove-active {
    opacity: 0.7;
}

#click-cover.letsGo-hide-add {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 0.7;
}

#click-cover.letsGo-hide-add.letsGo-hide-add-active {
    opacity: 0;
}

#mobile-sidebar-button {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 25px;
    padding: 10px;
}

#mobile-sidebar-button div {
    width: 22px;
    height: 4px;
    background-color: #fff;
    margin-bottom: 4px;
}

#mobile-sidebar-button div:nth-of-type(3){
    margin-bottom: 0;
}

.header {
    background-color: #2A6A9A;
    height: 140px;
    color: #fff;
}

.header.home {
    height: 400px;
}

/* XS, SM */
@media (max-width: 991px) {
    .header, .header.home {
        height: 100px;
    }
}

.header a:hover, .header a:focus, .header a:active, .header a:visited {
    color: #fff;
    text-decoration: none;
}

.tab-bar {
    background-color: #eee;
    height: 50px;
}

.tab-bar ul {
    margin: 0;
    list-style-type: none;
}

.tab-bar ul li {
    margin: 0 15px;
}

.tab-bar ul li:first-child {
    margin-left: 0px;
}

.tab-bar ul li:last-child {
    margin-right: 0px;
}

.tab-bar ul li a {
    font-size: 18px;
}

.tab-bar a:hover, .tab-bar a:focus, .tab-bar a:active, .tab-bar a:visited {
    text-decoration: none;
}

/* XS, SM */
@media (max-width: 991px) {
    .tab-bar ul li a {
        font-size: 15px;
    }
}

.tagline {
    margin-bottom: 40px;
    font-size: 25px;
}

.tagline a {
    text-decoration: underline;
}

#titles-example, #headers-example {
    height: 390px;
}

#square-rows-example, #square-columns-example {
    padding: 0 10px;
}

.frow-setup p {
    margin: 10px 0 5px;
}

.fake-code {
    padding: 10px 10px;
    display: block;
    border-radius: 3px;
    background-color: #4F4F51;
    color: #E6E6E6;
    font-family: 'Inconsolata', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}

.grid-frow-code {
    padding: 10px 10px;
    display: block;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #4F4F51;
    color: #E6E6E6;
    font-family: Inconsolata, sans-serif;
    font-size: 16px;
}

.fake-comment {
    color: #AFAFAF;
}

.fake-comment a {
    color: #AFAFAF;
    text-decoration: underline;
}

.grid-example {
    background-color: #eee;
    margin-bottom: 60px;
    border-radius: 3px;
    padding: 15px 0;
    overflow: hidden;
}

.grid-frow-code + .grid-example {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.grid-example-group .grid-example {
    margin-bottom: 30px;
}

.grid-example-group .grid-example:last-of-type, .grid-example-group .grid-example:last-of-type {
    margin-bottom: 60px;
}

.grid-example-div {
    background-color: #5EA6DC;
    min-height: 70px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-radius: 3px;
    font-size: 15px;
}

.grid-example-no-margin .grid-example-div {
    margin-bottom: 0px;
}

.grid-example-div .frow {
    min-height: 70px;
}

.grid-example-square {
    background-color: #5EA6DC;
    height: 71px;
    width: 71px;
    margin: 1px;
    border: 1px solid #eee;
    border-radius: 3px;
    font-size: 20px;
}

.smaller-grid-example-square {
    background-color: #1DE9B6;
    height:20px;
    width:20px;
    margin: 1px;
    /*border: 1px solid #eee;*/
    border-radius: 3px;
    font-size: 20px;
}

.frow.grid-example-div.dotted-div {
    background-color: transparent;
    border: 2px dashed #333;
    margin: 0 2px;
}

.frow.grid-example-div.dotted-div p {
    color: #333;
    font-size: 15px;
}

.grid-example-stretch {
    background-color: #5EA6DC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    font-size: 16px;
}

.grid-example-div p, .grid-example-square p {
    text-align: center;
    color: #fff;
    margin: 0;
    font-size: 15px;
}

.grid-example-div p:nth-child(2) {
    margin-top: 10px;
}

.grid-example>.frow:last-of-type .grid-example-div {
    margin: 0;
}

/* XS, SM */
@media (max-width: 991px) {
    .grid-example:not(.always-margin)>.frow:last-of-type>div:last-child .grid-example-div {
        margin: 0;
    }
}

/* MD, LG */
@media (min-width: 992px) {
    .home-height {
        height: 420px;
    }
}

.home-example.letsGo-hide-add {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 1;
}

.home-example.letsGo-hide-add-active {
    opacity: 0;
}

@-webkit-keyframes pop-in {
    0% { -webkit-transform: scale(0); transform: scale(0); opacity: 0.0; }
    50% { -webkit-transform: scale(1.04); transform: scale(1.04); opacity: 1.0; }
    100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1.0; }
}

@keyframes pop-in {
    0% { -webkit-transform: scale(0); transform: scale(0); opacity: 0.0; }
    50% { -webkit-transform: scale(1.04); transform: scale(1.04); opacity: 1.0; }
    100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1.0; }
}

.home-example.letsGo-hide-remove {
    -webkit-animation: pop-in 0.3s;
            animation: pop-in 0.3s;
}

.groups-example-card {
    background: #fff;
    width: 80%;
    height: 60%;
}

.groups-example-number {
    color: #00BCD4;
    font-size: 40px;
    font-weight: 700;
}

.groups-example-title {
    font-size: 20px;
    font-weight: 700;
}

#titles-example h1 {
    color: #26A69A;
}

.example-header {
    height: 50px;
    background-color: #f44336;
    color: #fff;
    margin-top: -15px;
    padding: 0 10px;
}

.example-header-bars {
    color: #fff;
    font-size: 25px;
    padding-top: 15px;
}

.example-header-bars div {
    width: 22px;
    height: 4px;
    background-color: #fff;
    margin-bottom: 4px;
}

.example-header-bars div:nth-of-type(3){
    margin-bottom: 0;
}

.example-header-link {
    margin-left: 10px;
}

.next {
    font-size: 25px;
    margin-top: 50px;
    font-weight: 300;
}

a.next-page {
    font-size: 25px;
    text-align: center;
    background-color: #2A6A9A;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 400;
}

a.next-page:hover {
    background-color: #105080;
}

.by-line {
    margin-top: 60px;
    text-align: center;
}

.form-example-contain {
    background-color: #eee;
    padding: 20px;
    border-radius: 3px;
}

.form-example {
    max-width: 400px;
    width: 100%;
    display: block;
    background-color: #fff;
    padding: 20px;
}

.card-shadow-demo {
    margin-top: 30px;
}

.card-shadow-demo p {
    color: #2A6A9A;
}

.card-shadow-demo>.frow>.col-md-1-2>.frow {
    border-radius: 3px;
    height: 400px;
}

.card-shadow-demo>.frow>.col-md-1-2:first-child>.frow {
    background-color: #f3f3f3;
}

.card-shadow-demo>.frow>.col-md-1-2:last-child>.frow {
    background-color: #888;
}

/* XS, SM */
@media (max-width: 991px) {
    .card-shadow-demo>.frow>.col-md-1-2:last-child>.frow {
        margin-top: 20px;
    }
}

.card-shadow-demo-card {
    height: 70%;
    width: 80%;
    background-color: #fff;
}

/* XS, SM */
@media (max-width: 991px) {
    .reverse {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
}

.show-frows {
    font-size: 13px;
    text-align: center;
    background-color: #4F4F51;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    font-weight: 300;
    width: 100px;
    display: block;
    margin: 60px auto 0;
}

.show-frows:hover {
    background-color: #353537;
}

.highlight-frows {
    border: 3px solid #EF5350 !important;
    border-radius: 3px !important;
}

.red-background {
    background-color: #E26F6F;
    margin: -15px 0;
    padding: 15px 0;
}











/*Radio buttons*/
.control {
    font-size: 18px;
    position: relative;
    display: block;
    margin-bottom: 15px;
    padding-left: 30px;
    cursor: pointer;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #e6e6e6;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
    background: #2A6A9A;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #2A6A9A;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
    pointer-events: none;
    opacity: .6;
    background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
    position: absolute;
    display: none;
    content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
    display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
    top: 4px;
    left: 8px;
    width: 3px;
    height: 8px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border: solid #fff;
    border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}








/*TESTING CLASSES*/

@-webkit-keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes disappear {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes disappear {
    from {opacity: 1;}
    to {opacity: 0;}
}

/*#test.letsGo-hide-remove {
    transition: opacity 2s, color 2s;
    opacity: 0;
}

#test.letsGo-hide-remove.letsGo-hide-remove-active {
    opacity: 1;
}

#test.letsGo-hide-add {
    transition: opacity 2s, color 2s;
    opacity: 1;
}

#test.letsGo-hide-add-active {
    opacity: 0;
}*/

/*#test.letsGo-hide-remove {
    -webkit-animation: appear 2s;
            animation: appear 2s;
}

#test.letsGo-hide-add {
    -webkit-animation: disappear 2s;
            animation: disappear 2s;
}

.red {
    background-color: #f00;
}

.red .tab-bar {
    background-color: #f00;
}

#download-tab.testing-add {
    -webkit-animation: appear 10s;
            animation: appear 10s;
}*/
