//
// Utility classes
// --------------------------------------------------


// Clearfix
// -------------------------
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// Cursor pointer and improvement to AngularJS's ng-click
// -------------------------
.clickable, *[ng-click] {
    cursor: pointer;
}

// Full height rules
// -------------------------
.height100 {
    height: 100%;
}

.min100 {
    min-height: 100%;
}

// Card shadows
// -------------------------
.card-shadow {
    box-shadow: $card-shadow;
}

.dark-card-shadow {
    box-shadow: $dark-card-shadow;
}
