//
// Scaffolding
// --------------------------------------------------


// Reset the box-sizing
*, :after, :before {
    box-sizing: border-box;
}

// Links
a {
    color: $link-color;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }

    p & {
      text-decoration: underline;
    }
}

// SVGs
svg {
    display: block;
}
