//
// Scaffolding
// --------------------------------------------------


// Reset the box-sizing
*, :after, :before {
    box-sizing: border-box;
}

// Links
a {
    color: $link-color;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }

    p & {
      text-decoration: underline;
    }
}

// SVGs
svg {
    display: block;
}

// Unordered lists
ul {
    margin: 0;
    padding: 0;
}

// List items
li {
    list-style-type: none;
}
