//
// Utility classes
// --------------------------------------------------


// Clearfix
// -------------------------
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// Cursor pointer and improvement to AngularJS's ng-click
// -------------------------
.clickable, *[onclick], *[ng-click] {
    cursor: pointer !important;
}

.not-clickable {
    cursor: default !important;
}

// Full height rule
// -------------------------
.height-100 {
    height: 100%;
}

// Card shadows
// -------------------------
.card-shadow {
    box-shadow: $card-shadow;
}

.dark-card-shadow {
    box-shadow: $dark-card-shadow;
}
